<div class="cover">
  <div class="search_box">
    <div>
      <%= form_tag root_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "text-center form-control border border-dark search_field_box_simple_form",
        placeholder: "Enter a city or an airport" %>
      <% end %>
    </div>
    <% if params[:query].present? && @results == 1 %>
      <div class="center_fields_inside_div">
          <p class="center_text">The cheapest place from <%= @origin %> is: </p>
          <p class="center_text search_field_box border border-dark"><%= @destination %></p>
          <p class="center_text">You can go by <strong>plane</strong> with:</p>
          <p class="center_text search_field_box border border-dark"> $<%= @price %></p>
      </div>
    <% elsif params[:query].present? && @results == 0%>
      <div class="center_fields_inside_div">
        <p class="center_text search_field_box border border-dark"><%= @user_message %></p>
      </div>
    <% end %>
</div>


</div>
  <div class='subtitle pt-5 <%= 'mt-20' if params[:query].present? %>'>
    <% if params[:query].present? %>
      <div class="text-center py-4">
        <%= link_to "Build a full route", new_intake_departure_place_path, class: "btn btnhp text-info btn_cta py-3 px-3 m-6" %>
      </div>
    <% end %>
    <h1 class='text-primary text-center p-4'><strong>Explore the world with our trip suggestions</strong></h1>
  </div>

<div class="container align-items-center justify-content-center">
  <div class='row illustration mx-auto'></div>
  <div class="row text-center my-5">
    <h4>Discovering new places doesn't<br>have to be expensive</h4>
  </div>
</div>

<div class="container-fluid hpwhite text-center">
  <div class="col-12">
    <h2 class="pt-5"><strong>We build the best route<br>for you in 3 steps</strong></h2>
    <h5 class="my-3">We suggest you when and by which<br>transportation you will need to take to<br>discover as many places as possible.</h5>
  </div>
  <div class="numbered-item-block">
    <div class="blue-circle-icon my-2">1</div>
    <div class="item-text">Tell us where you are</div>
  </div>
  <div class="numbered-item-block">
    <div class="blue-circle-icon">2</div>
    <div class="item-text">Define your budget</div>
  </div>
  <div class="numbered-item-block">
    <div class="blue-circle-icon">3</div>
    <div class="item-text">Get a route that fits your<br>budget!</div>
  </div>
    <div class="text-center">
      <%= link_to "Build a full route", new_intake_departure_place_path, class: "btn btnhp text-info btn_cta py-3 px-3 m-6" %>
    </div>
</div>

<div class="container-fluid d-flex">
  <div class="row">
    <div class="col celcontent mt-5">
    </div>
    <div class="col-5 mt-5 py-5">
      <h2><strong>Keep track the routes you did</strong></h2>
      <h5 class="my-5 py-5">Save your routes<br>and use them to<br>book the best<br> ones within our<br> partners!</h5>
      </div>
  </div>
</div>

<div class="container-fluid hpwhite my-0">
  <div class="row text-center py-5">
    <h2><strong>Let us build the best<br>route for you!</h2>
  </div>
</div>
<div class="container-fluid mb-0 mt-5">
  <div class="row">
    <div class="row transpo mx-auto">
    </div>
  </div>
</div>
