<div class='backgroundpattern'>
  <div class="container p-4">
    <h2 class="peachtext p-1 mb-4 text-center"><strong>Your route</strong></h2>
    <h6 class="m-3 mb-4">Trip summary</h6>
    <div class="card mx-auto my-5">
      <% @route.destinations.each do |destination| %>
      <div class="card-body text-primary d-flex">
        <div class="row">
          <div class="col my-auto mx-2">
            <i class="fa-solid fa-plane smallicon"></i>
          </div>
          <div class="col mx-3 my-auto">
            <p class="card-text smallfont mb-1">From</p>
            <%= destination.departure_city %>
          </div>
          <div class="col mx-5 my-auto">
            <p class="card-text smallfont mb-1">To</p>
            <%= destination.arrival_city%>
          </div>
        </div>
      </div>
      <% end %>
      <% @route.destinations.each do |destination| %>
      <div class="card-footer bg-transparent border d-flex">
        <div class="row">
          <div class="col">
            <p class="card-text smallfont mb-1">Price</p>
            $ <%= destination.price.round(2) %>
          </div>
        </div>
    </div>

    <% end %>
    <h1>Total Price</h1>
    <%# <% raise %>
    <p>The total price is: $ <%= @total_price.round(2) %></p>

      <% end %>

    </div>
        <% if current_user.favorite_routes.include?(@route) %>
          <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, favorite_path(@route), data: { turbo_method: :delete, turbo_confirm: "Are you sure you wanna remove this route from your favorites?" } %>
        <% else %>
          <%= button_to '<i class="fa-regular fa-heart smallicon"></i>'.html_safe, favorites_path(route_id: @route.id), method: :post, remote: true, class: "btn" %>
        <% end %>
  </div>
</div>
